.basket {
  background: $white;
  border-radius: 20px;
  padding: 3px 30px 20px;
  @media (min-width: 1090px) {
    padding: 7px 16px 21px 35px;
  }
}

.basket-cols {
  display: none;
  padding: 0 16px 0 25px;
  margin-bottom: 17px;
  @media (min-width: 1500px) {
    display: flex;
  }
}

.basket-col {
  width: 100%;
  text-align: center;
  margin-right: 25px;
  font-size: 18px;
  line-height: 95.2%;
}

.basket-col--1 {
  max-width: 450px;
}
.basket-col--2 {
  max-width: 150px;
}
.basket-col--3 {
  max-width: 180px;
  text-align: left;
  margin-right: 0;
}
.basket-col--4 {
  max-width: 100px;
  margin-right: 15px;
}
.basket-col--5 {
  max-width: 60px;
}

.basket__list {
  margin-bottom: 30px;
  height: 764px;
  overflow-y: auto;

  @media (min-width: 1090px) {
    height: 650px;
  }
}

.basket-order-wrap {
  display: flex;
  justify-content: flex-end;
}

.basket-order {
  width: 100%;
  @media (min-width: 520px) {
    width: auto;
  }
}

.basket__item {
  margin-bottom: 10px;
  @media (min-width: 1090px) {
    margin-bottom: 0;
  }
}

.basket-price {
  margin-bottom: 20px;
}

.basket-price__text {
  font-size: 24px;
  line-height: 95.2%;
}

.basket-price__num {
  font-weight: 600;
  font-size: 24px;
  line-height: 95.2%;
}

.basket-buy {
  width: 100%;
}

.basket-buy__btn {
  width: 100%;
  font-size: 20px;
  @media (min-width: 520px) {
    width: auto;
  }
}
