.basket {
  background: $white;
  border-radius: $bdr5;
  //padding: 3px 30px 20px;
  @media (min-width: 1090px) {
    padding: 0 15px 40px 15px;
  }
}

.basket__list {
  margin-bottom: 30px;
  height: 764px;
  overflow-y: auto;

  @media (min-width: 1090px) {
    height: 605px;
  }
}

.basket-order-wrap {
  display: flex;
}

.basket-order {
  @media (min-width: 520px) {
    width: 100%;
  }
}

.basket__item {
  margin-bottom: 10px;
  @media (min-width: 1090px) {
    margin-bottom: 0;
    border-bottom: 1px solid $l-grey;
  }
}

.basket-price {
  margin-bottom: 40px;
}

.basket-price__text {
  font-size: 24px;
  line-height: 95.2%;
}

.basket-price__num {
  font-weight: 600;
  font-size: 24px;
  line-height: 95.2%;
}

.basket-buy {
  width: 100%;
}

.basket-buy__btn {
  display: block;
  max-width: 260px;
  padding: 13px 50px;
  width: 100%;
  font-size: 20px;
  margin: 0 auto;
  @media (min-width: 520px) {
    width: auto;
  }
}
