.branches {
  overflow: hidden;
  margin-bottom: 120px;
  padding: $flank;
  @media (min-width: 1280px) {
    padding: 0;
  }
}

.branches__cols {
  background: $white;
  border-radius: $bdr5;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 15px 30px;
  @media (min-width: 1090px) {
    padding: 30px;
  }
}

.branches__item {
  font-weight: 600;
  font-size: 18px;
  line-height: 200%;
  @media (min-width: 1090px) {
    font-size: 24px;
  }
}

.branches__list {
  @media (min-width: 600px) {
    width: 100%;
    column-count: 2;
  }
  @media (min-width: 850px) {
    column-count: 3;
  }
}
