.callback {
  border-radius: $bdr5;
  overflow: hidden;
  background: $white;
  padding: 40px;
}

.callback-form__title {
  font-weight: 600;
  font-size: 44px;
  line-height: 95.2%;

  margin-bottom: 20px;

  @media (min-width: 850px) {
    font-size: 24px;
  }
  @media (min-width: 1280px) {
    font-weight: 600;
    font-size: 44px;
    line-height: 95.2%;
  }
}

.callback-form__desc {
  color: $d-grey;
  line-height: 130%;
  margin-bottom: 20px;
  @media (min-width: 850px) {
    font-size: 16px;
  }

  @media (min-width: 1280px) {
    font-size: 18px;
    margin-bottom: 25px;
  }
}

.callback-form {
  width: 100%;
  @media (min-width: 700px) {
  }

  @media (min-width: 920px) {
  }

  @media (min-width: 1090px) {
  }
  @media (min-width: 1500px) {
  }
}

.callback__inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.callback__input {
  max-width: 340px;
}
