.categories {
  margin-bottom: 120px;
  padding: $flank;
  font-size: 36px;
  line-height: 95.2%;
  @media (min-width: 1090px) {
    padding: 0;
  }
}

.categories-title {
  font-size: 24px;
  margin-bottom: 20px;
  @media (min-width: 1090px) {
    font-weight: 600;
    font-size: 36px;
    line-height: 95.2%;
    margin-bottom: 38px;
  }
}

.categories__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &::after {
    content: '';
    max-width: 340px;
    width: 100%;
  }

  @media (min-width: 600px) {
    &::after {
      content: '';
      max-width: 32%;
      width: 100%;
    }
  }
  @media (min-width: 1090px) {
    &::after {
      content: '';
      max-width: 340px;
      width: 100%;
    }
  }
}

.category-info {
  background: $white;
  padding: 30px 15px;
  border-radius: $bdr5;
  margin-bottom: 30px;
  @media (min-width: 400px) {
  }
  @media (min-width: 700px) {
  }
}

.category-info__title {
  font-weight: 600;
  font-size: 36px;
  line-height: 95.2%;
  margin-bottom: 20px;
  @media (min-width: 1090px) {
    margin-bottom: 30px;
  }
}

.category-info__header {
  display: flex;
  margin-bottom: 30px;
}

.category-info__preview {
  min-width: 350px;
  width: 100%;
  overflow: hidden;
  border-radius: $bdr5;
  margin-right: 20px;
  @media (min-width: 400px) {
  }

  @media (min-width: 700px) {
  }
}
.category-info__img {
  width: 100%;
  height: auto;
  @media (min-width: 400px) {
  }
}

.category-info__text {
  font-size: 18px;
  line-height: 130%;
}

.category-info__content {
  padding: 0 10px 12px;
  //width: 100%;
  @media (min-width: 400px) {
  }
  @media (min-width: 700px) {
    //max-width: 645px;
    width: 100%;
  }
}

.category-desc {
  display: none;
  background: $white;
  padding: 30px 15px;
  border-radius: $bdr5;
  margin-bottom: 100px;
  @media (min-width: 1090px) {
    display: block;
  }
}

.category-desc__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  margin-bottom: 10px;
}

.category-desc__text {
  font-size: 18px;
  line-height: 130%;
}

.category-desc__para {
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
}
