.counter {
  width: 150px;
  border-radius: 50px;
  border: 1px solid $d-grey;
  padding: 4px 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-weight: 500;
  font-size: 24px;
  line-height: 95.2%;
  user-select: none;
}

.counter__sing {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.counter__quantity {
  font-weight: 500;
  font-size: 24px;
  line-height: 95.2%;
  text-align: center;
  background: rgba(255, 255, 255, 0);
  color: $d-grey;
  border: none;
  outline: none;
  width: 66px;
  height: 30px;
}
