.discount-sticker {
  display: inline-block;
  padding: 5px 5px;
  //height: 26px;
  background: $yellow;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 600;
  line-height: 90%;
  @media (min-width: 500px) {
    font-size: 18px;
  }
}
