.error404 {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  padding: 30px 15px 0;
  @media (min-width: 1050px) {
    padding: 60px 0 0;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;
  }
}

.error404__img {
  max-width: 200px;
  order: 1;
  @media (min-width: 1050px) {
    order: 0;
    margin-bottom: 0;
    max-width: 300px;
  }
  @media (min-width: 1280px) {
    max-width: 450px;
  }
}

.error__desc {
  color: $white;
  margin-bottom: 30px;
  @media (min-width: 1050px) {
    margin-bottom: 250px;
  }
}

.error__title {
  font-weight: 600;
  font-size: 38px;
  line-height: 95.2%;
  margin-bottom: 400px;
  margin-bottom: 15px;
  @media (min-width: 1050px) {
    font-size: 58px;
  }
}

.error404__text {
  max-width: 665px;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  @media (min-width: 1050px) {
    font-size: 20px;
  }

  @media (min-width: 1280px) {
    font-size: 24px;
  }
}

.error404__link {
  position: relative;
  color: $white;
  line-height: 130%;
  text-decoration: underline;
}
