.filters-wrap {
  position: relative;
  height: 60px;
  width: 190px;
  background: $white;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 30px;
  transition: 0.2s ease-in-out;
}
.filters {
  position: relative;
  background: $white;
  //padding: 18px 0 0;
  align-items: start;
}

.filters__top {
  padding: 0 15px 0;
  position: relative;
  transition: 0.2s ease-in-out;
  min-height: 0;
  &::before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    background: $milky;
  }
  @media (min-width: 580px) {
    padding: 0 18px 0;
  }
}
.filters__title {
  width: 190px;
  font-size: 24px;
  //padding: 10px 0 20px 42px;
  padding: 18px 0 20px 44px;
  line-height: 95.2%;
  //margin-bottom: 20px;
  cursor: pointer;
}

.filters__list {
  padding-bottom: 1px;
}

.filters__bottom {
  display: flex;
  flex-direction: column-reverse;

  padding: 20px 15px 0;
  margin-bottom: 10px;
  @media (min-width: 720px) {
    padding: 20px 18px 0;
  }
}

.selected-filters {
  flex-grow: 1;
}

.filters__btns {
  align-items: start;
  margin-bottom: 20px;
  @media (min-width: 720px) {
    display: flex;
    justify-content: space-between;
    text-align: right;
    min-width: 315px;
  }
}

.filters__btn {
  width: 100%;
  font-size: 24px;
  line-height: 95.2%;
  color: $d-grey;
  margin-bottom: 20px;
  padding: 14px 20px;
  &:last-child {
    margin-bottom: 0;
  }
  @media (min-width: 720px) {
    margin-bottom: 0px;
    width: auto;
    text-align: right;
    padding: 14px 52px;
  }
}

.filters__roll-up-text {
  text-align: center;
}
.roll-up__btn {
  display: inline-flex;
  align-items: center;
  padding: 10px 10px 13px;
  cursor: pointer;
}

.roll-up__text {
  color: $l-grey;
  margin-right: 15px;
}

.roll-up__arrow {
  width: 17px;
  height: 11px;
}

.filters__roll-up {
  display: none;
  position: absolute;
  top: 13px;
  right: 18px;
  width: 30px;
  height: 30px;
}

.filters__roll-up--is-show {
  display: block;
}
