.f-contacts {
  background: $milky;
  padding: $flank;
  border-bottom: 2px solid $pearl;
  @media (min-width: 1575px) {
    padding: 0;
  }
}

.f-contacts__inner {
  display: flex;
  align-items: start;
  flex-direction: column;
  padding: 15px 0 22px 0;

  font-weight: normal;
  line-height: 200%;

  font-size: 14px;

  @media (min-width: 900px) {
    flex-direction: row;
  }
  @media (min-width: 1280px) {
    min-height: 135px;
    padding: 20px 0 0 0;
    font-size: 14px;
  }
}

.privacy-policy {
  position: relative;
  width: 100%;
  max-width: 288px;
  line-height: 200%;
  color: $d-grey;
  margin-right: 111px;
  text-decoration: underline;
  order: 1;
  @media (min-width: 900px) {
    order: 0;
  }
}

.f-contacts__address {
  margin: 0 0 30px 0;
  min-width: 370px;
  color: $d-grey;
  font-size: 18px;
  line-height: 130%;
  @media (min-width: 900px) {
    margin: 0 30px 0 0;
    width: 331px;
  }

  @media (min-width: 1100px) {
    margin-right: 131px;
  }
}

.f-contacts__list {
  margin: 0 0 30px 0;
  font-size: 18px;
  line-height: 130%;

  @media (min-width: 900px) {
    margin: 0;
  }
}

.f-contact {
  margin-bottom: 20px;
}

.f-contact__link {
  color: $d-grey;
  cursor: pointer;
}

.f-contact__link--underline {
  position: relative;
  text-decoration: underline;
}
