.f-top {
  background: $milky;
  padding: $flank;

  @media (min-width: 1575px) {
    padding: 0;
  }
}

.f-top__inner {
  min-height: 80px;
  display: flex;
  padding-top: 30px;
  flex-direction: column;
  @media (min-width: 1040px) {
    padding: 0;
    align-items: center;
    flex-direction: row;
    min-height: 135px;
  }
  @media (min-width: 1280px) {
    min-height: 135px;
  }
}

.f-logo {
  height: 55px;
  margin-right: auto;
  margin-bottom: 33px;
  @media (min-width: 1040px) {
    margin-bottom: 0;
  }
  @media (min-width: 1280px) {
    height: 78px;
  }
}

.f-nav__list {
  //display: flex;
  //flex-wrap: wrap;
  columns: 2;
  @media (min-width: 500px) {
    columns: 3;
  }
  @media (min-width: 768px) {
    display: flex;
    columns: auto auto;
  }
}

.f-nav__item {
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  margin: 0 0 36px 0;
  text-transform: uppercase;
  &:last-child {
    margin-right: 0;
  }

  @media (min-width: 768px) {
    margin: 0 40px 36px 0;
  }

  @media (min-width: 1040px) {
    margin: 0 50px 0 0;
  }

  @media (min-width: 1280px) {
    font-size: 16px;
  }
}

.f-nav__link {
  color: $d-grey;
}
