.f-contacts {
  background: $white;
  padding: $flank;
  @media (min-width: 1575px) {
    padding: 0;
  }
}

.f-contacts__inner {
  display: flex;
  align-items: start;
  flex-direction: column;
  padding: 15px 0 22px 0;
  //min-height: 150px;

  font-weight: 300;
  line-height: 160%;
  color: $grey;

  font-size: 14px;
  line-height: 130%;

  @media (min-width: 900px) {
    flex-direction: row;
  }
  @media (min-width: 1280px) {
    min-height: 150px;
    padding: 40px 0 0 0;
    font-size: 18px;
  }
}

.privacy-policy {
  position: relative;
  width: 100%;
  max-width: 269px;
  color: $grey;
  line-height: 160%;
  margin-right: auto;
  text-decoration: underline;
  order: 1;
  @media (min-width: 900px) {
    order: 0;
  }
}

.f-contacts__address {
  margin: 0 0 30px 0;
  width: 100%;
  max-width: 400px;

  @media (min-width: 900px) {
    margin: 0 30px 0 0;
    width: 331px;
  }

  @media (min-width: 1100px) {
    margin-right: 124px;
  }
}

.f-contacts__list {
  margin: 0 0 30px 0;
  @media (min-width: 900px) {
    margin: 0;
  }
}

.f-contact__link {
  color: $grey;
  cursor: pointer;
}

.f-contact__link--underline {
  position: relative;
  text-decoration: underline;
}
