.form-error__message {
  display: none;
  max-width: 250px;
  width: 100%;
  margin-left: auto;
  margin-top: 15px;
  text-align: center;
  font-weight: normal;
  font-size: 18px;
  line-height: 95.2%;
  color: $red;
}

.form-error--is-success {
  display: block;
  color: $green;
}

.form-error--is-error {
  display: block;
  color: $red;
}
