.h-main {
  background: $white;
  padding: $flank;
  @media (min-width: 1575px) {
    padding: 0;
  }
  border-bottom: 2px solid #eaeaea;
}

.h-main__inner {
  display: flex;
  align-items: center;
  min-height: 70px;
  @media (min-width: 1575px) {
    min-height: 100px;
  }
}

.h-logo {
  height: 40px;
  margin-right: auto;
  @media (min-width: 1280px) {
    height: 68px;
  }
}

.h-nav {
  display: none;
  margin-right: 40px;
  @media (min-width: 1040px) {
    margin-right: 40px;
    display: flex;
  }
}

.h-nav__list {
  display: flex;
}

.h-nav__item {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 20px;
  font-weight: 600;
  text-transform: uppercase;

  &:last-child {
    margin-right: 0;
  }
  @media (min-width: 480px) {
    margin-right: 50px;
  }
  @media (min-width: 1040px) {
    min-height: 70px;
  }
  @media (min-width: 1280px) {
    min-height: 100px;
  }
}

.h-nav__link {
  font-size: 16px;
  line-height: 95.2%;
  &:hover {
    &::before {
      background: $blue;
    }
  }
  @media (min-width: 1040px) {
    font-size: 16px;
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      height: 3px;
      width: 100%;
      transition: 0.2s ease-in-out;
    }
  }
  @media (min-width: 1280px) {
    font-size: 16px;
    &::before {
      height: 5px;
    }
  }
}

.h-nav__link--is-active {
  @media (min-width: 1000px) {
    &::before {
      background: $blue;
    }
  }
}

.h-icons__item {
  position: relative;
  margin-right: 40px;
  &:last-child {
    margin-right: 0;
  }
}

.h-icon__img {
  height: 20px;
  width: auto;
  @media (min-width: 480px) {
    height: 30px;
  }
}

.h-nav__icon {
  position: relative;
  margin-left: auto;
}

.h-icon__indicator {
  position: absolute;
  top: -3px;
  right: -5px;
  display: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: $l-blue;
}

.h-icon__indicator--is-show {
  display: block;
}

.menu-btn {
  width: 40px;
  height: 40px;
  margin-left: 20px;
  @media (min-width: 480px) {
    margin-left: 40px;
  }

  @media (min-width: 1040px) {
    display: none;
  }
}
