.h-contact {
  display: none;
  background-color: $white;
  font-style: 20px;
  line-height: 95.2%;
  padding: $flank;
  @media (min-width: 786px) {
    display: block;
  }
  @media (min-width: 1575px) {
    padding: 0;
  }
}

.h-contact__inner {
  display: flex;
  align-items: center;
  min-height: 50px;
  font-size: 16px;
  color: $blue;
}

.h-city {
  display: flex;
  margin: 0 50px 0 auto;
  cursor: pointer;
  @media (min-width: 1000px) {
    display: flex;
    padding: 0;
  }
}

.h-city__icon {
  width: 14px;
  height: 16px;
  margin-right: 11px;
}
.h-contacts {
  @media (min-width: 1000px) {
  }
}

.h-contacts__list {
  display: flex;
  margin-right: 50px;
}

.h-contacts__link {
  color: $blue;
}
.h-contacts__item {
  margin-right: 50px;
  &:last-child {
    margin-right: 0;
  }
  @media (min-width: 1000px) {
    margin-right: 50px;
  }
}

.h-callback-btn {
  cursor: pointer;
}

.h-login-btn {
  cursor: pointer;
}
