.input {
  display: block;
  padding: 12px 17px 9px;
  border: 3px solid $milky;
  border-radius: $bdr5;
  outline: none;
  width: 100%;
  margin-bottom: 20px;
  font-family: 'Futura', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  color: $d-blue;
  transition: 0.2s ease-in-out;
  &:focus {
    border: 3px solid $milky;
  }

  @media (min-width: 1500px) {
  }
}

.input--is-error {
  border: 3px solid $red;
  &:focus {
    border: 3px solid $red;
  }
}

.input--is-success {
  border: 3px solid $green;
  &:focus {
    border: 3px solid $green;
  }
}
.input::-webkit-input-placeholder {
  font-family: 'Futura', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  color: $grey;
}
.input::-moz-placeholder {
  font-family: 'Futura', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  color: $grey;
}
.input:-ms-input-placeholder {
  font-family: 'Futura', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  color: $grey;
}
.input:-moz-placeholder {
  font-family: 'Futura', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  color: $grey;
}

.input-upload {
  max-width: 340px;
  width: 100%;
}

.input-upload__btn {
  width: 100%;
  text-align: center;
  padding: 8px;
  margin-bottom: 22px;
}

.input-upload__text {
  font-size: 18px;
  line-height: 130%;
  color: $d-grey;
  cursor: pointer;
}

.input-upload__file {
  display: none;
}

.form__send {
  max-width: 340px;
  width: 100%;
}

.input-submit {
  display: block;
  width: 100%;
  font-family: 'Futura', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  color: $white;
  margin-bottom: 22px;
}

.input-check__label {
  position: relative;
  display: inline-flex;
  cursor: pointer;
  width: 100%;
}

.input-check__fake {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  background-color: $blue;
  border-radius: 50%;
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $white;
  }
}

.input-check__text {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 100%;
  padding-left: 27px;
  color: $d-blue;
}

.input-check__link {
  text-decoration: underline;
}

.input-check__checkbox {
  display: none;
}

.input-check__checkbox {
  &:checked + .input-check__fake {
    &::before {
      display: block;
    }
  }
}

.input-check__fake--is-active {
  &::before {
    display: block;
  }
}
