.main-slider {
  margin-bottom: 80px;
  border-radius: 20px;
  overflow: hidden;
}

.main-slide__link {
  min-width: 100%;
}

.main-slide {
  position: relative;
  padding: 10px 10px 20px;
  background: $white;
  height: 300px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;

  @media (min-width: 480px) {
    padding: 30px 20px 20px;
  }

  @media (min-width: 1500px) {
    padding: 0 47px;
    height: 300px;
    display: block;
  }
}

.main-slide__img {
  max-width: 300px;
  width: 100%;
  margin: 0 auto 10px;
  @media (min-width: 480px) {
    margin: 0;
    position: absolute;
    bottom: 0;
    right: 15px;
    max-width: none;
    width: 450px;
  }
  @media (min-width: 768px) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
  }
  @media (min-width: 1500px) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

.main-slide__text {
  color: #495da6;
  display: flex;
  height: 100%;
  flex-direction: column;
  flex-grow: 1;
  margin: 0 auto;
  @media (min-width: 480px) {
    margin: 0;
    flex-grow: 0;
  }
  @media (min-width: 768px) {
    justify-content: center;
    width: 300px;
  }

  @media (min-width: 768px) {
    justify-content: center;
    width: 450px;
  }
  @media (min-width: 1500px) {
  }
}

.main-slide__title {
  font-weight: 600;
  font-size: 36px;
  line-height: 100%;
  margin-bottom: 7px;
  @media (min-width: 950px) {
    font-size: 48px;
  }
  @media (min-width: 1090px) {
    font-size: 36px;
  }

  @media (min-width: 1500px) {
    font-size: 48px;
  }
}

.main-slide__desc {
  font-size: 14px;
  line-height: 100%;
  margin-bottom: 15px;
  @media (min-width: 480px) {
    margin-bottom: 30px;
  }
  @media (min-width: 950px) {
    font-size: 24px;
  }
  @media (min-width: 1090px) {
    font-size: 14px;
  }

  @media (min-width: 1500px) {
    line-height: 140%;
    font-size: 24px;
  }
}

.main-slide__order {
  margin-top: auto;
  text-align: center;
  @media (min-width: 480px) {
    text-align: left;
  }
  @media (min-width: 768px) {
    margin-top: 0;
  }
}

.main-slide__btn {
  position: relative;
  display: inline-block;
  font-size: 24px;
  line-height: 29px;
  color: $white;
  background: radial-gradient(128% 170% at 22.2% 0%, #6b81ce 0%, #495da6 100%);
  border-radius: 100px;
  padding: 11px 43px;
  z-index: 1;
  &::after {
    content: "";
    position: absolute;
    top: 14px;
    left: 50%;
    transform: translate(-50%, 0);
    display: block;
    width: 90%;
    height: 80%;
    background: rgba(47, 78, 189, 0.5);
    filter: blur(10px);
    z-index: -1;
  }
}

.main-slider__control {
  display: none;
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: 15px;
  border-radius: 50%;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
  background: $white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  user-select: none;
  &:hover {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
  }
  @media (min-width: 1090px) {
    display: block;
  }
}

.main-slider__control--prev {
  right: 85px;
}

.main-slider__control--next {
  right: 15px;
}

.main-slider__arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 11px;
  transform: translate(-50%, -50%);
}
