//основные цвета
$blue: #115192;
$l-blue: #7dc8ed;
$d-blue: #071a36;

$pearl: #f5f5f5;

$grey: #c6c7ca;
$d-grey: #566173;
$black: #000000;
$white: #ffffff;

//$yellow: #fbc000;

$milky: #eaeaea;

// дополнительные цвета

$l-grey: #cccccc;
$green: #64bc26;
$red: #ea1601;
//hover
//$l-blue: #ffc91c;
//active
$d-yellow: #dca700;

// font
$gilroy: "Futura", sans-serif;

//полупрозрачный фон
$bgForModals: rgba(0, 0, 0, 0.5);
$bgWhite: rgba(255, 255, 255, 0.8);

// отступ по бокам экрана
$flank: 0 15px;

$bdr5: 5px;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $gilroy;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 95.2%;
  color: $d-blue;
  background: $pearl;
}

.black {
  background-color: #081224;
}

.no-scroll {
  overflow-y: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: $d-blue;
}

ul {
  list-style-type: none;
}

.app {
  overflow: hidden;
}

.link {
  &:hover {
    text-decoration: underline;
  }
}

.container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
}

.content-wrap {
  display: flex;
  padding: 0;
  @media (min-width: 1090px) {
    padding: $flank;
    justify-content: space-between;
    max-width: 1100px;
  }

  @media (min-width: 1280px) {
    max-width: 1180px;
    padding: 0;
  }
}

.left {
  width: 100%;
  @media (min-width: 1090px) {
    max-width: 730px;
    font-size: 24px;
  }

  @media (min-width: 1280px) {
    max-width: 780px;
    font-size: 24px;
  }
}

.right {
  width: 320px;
  margin-bottom: 100px;
  display: none;
  @media (min-width: 1090px) {
    display: block;
    font-size: 22px;
  }

  @media (min-width: 1280px) {
    display: block;
    width: 380px;
  }
}

.nowrap {
  white-space: nowrap;
}
