.news-slider {
  overflow: hidden;
  margin-bottom: 40px;
}
.news-slides {
  display: flex;
}

.news-slide {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  @media (min-width: 500px) {
    flex-direction: row;
  }
  @media (min-width: 1500px) {
    font-size: 24px;
  }
}
