.news-list {
  display: flex;
  flex-direction: column;
  @media (min-width: 545px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

//.news-col {
//  @media (min-width: 545px) {
//    margin-right: 10px;
//    &:last-child {
//      margin-right: 0;
//    }
//  }
//}
