.pagination-wrap {
  margin-top: 50px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  @media (min-width: 1090px) {
    justify-content: flex-start;
  }
}

.pagination__list {
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 50px;
  @media (min-width: 500px) {
    margin: 0 20px;
  }
}

.pagination__item {
  @media (min-width: 1090px) {
    margin-right: 5px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.pagination__btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: 0.2s ease-in-out;

  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  color: $d-grey;

  @media (min-width: 1090px) {
    width: 40px;
    height: 40px;
    &:hover {
      background: $white;
    }
  }
}

.pagination__btn--is-active {
  background: $white;
}
