.path-wrap {
  height: 120px;
  align-items: center;
  display: none;
  padding: $flank;
  max-width: 1100px;
  @media (min-width: 1090px) {
    display: flex;
  }

  @media (min-width: 1280px) {
    padding: 0;
    max-width: 1180px;
    display: flex;
  }
}

.path {
  color: $l-grey;
}

.path__link {
  color: $l-grey;
  transition: 0.2s ease-in-out;
  &:hover {
    color: $d-grey;
  }
}

.path__link--is-active {
  color: $d-grey;
}

.path__slash {
  margin: 0 10px;
}
