.product {
  display: flex;
  flex-direction: column;
  border-radius: $bdr5 $bdr5 0 0;
  background: $white;
  padding: 0 0 30px 0;
  @media (min-width: 700px) {
    flex-direction: row;
    padding: 0 0 60px 0;
  }
}

.product-carusel {
  //display: flex;
  user-select: none;
  margin: 0 0 30px 0;
  @media (min-width: 700px) {
    margin: 0 15px 0 0;
  }
  @media (min-width: 1090px) {
    margin: 0 25px 0 0;
  }
}

//pic-dots
.product-carusel__controls {
  padding: 0 10px;
  position: relative;
  display: flex;
  align-items: center;
}

.product-carusel__arrow {
  cursor: pointer;
}

.product-carusel__dots {
  max-width: 200px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  @media (min-width: 450px) {
    max-width: 300px;
    display: flex;
    justify-content: center;
  }
  @media (min-width: 700px) {
    display: flex;
    justify-content: center;
  }
}

.pic-dots {
  display: flex;
  //flex-wrap: nowrap;
  max-width: 190px;
  width: 100%;
  transition: 0.2s ease-in-out;
  @media (min-width: 450px) {
    max-width: 290px;
  }
}

.pic-dots__item {
  border: 2px solid $milky;
  overflow: hidden;
  min-width: 50px;
  height: 50px;
  cursor: pointer;
  margin-right: 25px;
  transition: 0.2s ease-in-out;
  border: 2px solid $white;
  @media (min-width: 450px) {
    min-width: 80px;
    height: 80px;
  }
}

.pic-dots__item--is-active {
  border: 2px solid $l-blue;
}

.pic-dots__img {
  width: 100%;
  height: 100%;
}

//product__preview
.product__preview {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0 0 30px 0;

  @media (min-width: 700px) {
    margin: 0 0 50px 0;
    max-width: 380px;
    max-height: 280px;
    border-radius: $bdr5 0 $bdr5 0;
  }
}

.product__imges {
  display: flex;
  //width: 100%;
  height: 100%;
  transition: 0.2s ease-in-out;
}

.product__img {
  min-width: 100%;
  min-height: 100%;
}

//product__controls
.product__controls {
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  bottom: 15px;
  padding: 0 15px;
}
.product__dots {
  //margin: 0 0 50px 0;
  @media (min-width: 700px) {
    margin: 0 0 50px 0;
  }
}

//product__desc
.product__desc {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 30px 15px 0;
  @media (min-width: 1090px) {
    padding: 30px 30px 0 0;
  }
}

.product__title {
  font-size: 24px;
  line-height: 110%;

  margin-bottom: 20px;
  @media (min-width: 700px) {
    margin-bottom: auto;
  }
}

.product__price {
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 36px;
  line-height: 95.2%;
}

.product__add-btn {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.product__favorite {
  overflow: hidden;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.product__btn {
  max-width: 200px;
  width: 100%;
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
  @media (min-width: 700px) {
    width: 200px;
  }
}

.product__add-basket {
  margin-right: 20px;
  max-width: 200px;
  min-width: 200px;
}

.product__btn--order {
  width: 100%;
  max-width: 260px;
  padding: 10px 33px 10px;
  @media (min-width: 1090px) {
    max-width: 100%;
  }
}

//product__info
.product__info {
  background: $milky;
  border-radius: 10px;
  padding: 25px 25px 21px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  //@media (min-width: 1500px) {
  //  flex-direction: row;
  //  padding: 11px 33px;
  //}
}

.product__discount {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.product__stiker {
  margin-right: 10px;
}

.product__old-price {
  font-size: 24px;
  line-height: 95.2%;
  text-decoration-line: line-through;
  color: $l-grey;
}

.product__new-price {
  font-weight: 600;
  font-size: 36px;
  line-height: 95.2%;
}

//delivery
.delivery {
  @media (min-width: 1500px) {
    padding: 19px 0 19px 26px;
  }
}
.delivery__title {
  font-size: 18px;
  line-height: 95.2%;
  color: $l-grey;
  margin-bottom: 10px;
}

.delivery__item {
  position: relative;
  padding-left: 25px;
  margin-bottom: 5px;
  font-size: 18px;
  line-height: 100%;
  &:last-child {
    margin-bottom: 0;
  }
  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    display: block;
    width: 10px;
    height: 10px;
    background: $blue;
    border-radius: 50%;
  }
}
