.product-card {
  position: relative;
  width: 48.5%;
  min-height: 270px;
  transition: 0.2s ease-in-out;
  margin-bottom: 20px;
  transition: 0.1;
  transition-delay: 0.1s;
  z-index: 0;

  @media (min-width: 600px) {
    margin-bottom: 30px;
    width: 32%;
  }

  @media (min-width: 1090px) {
    max-width: 340px;
    width: 100%;
    min-height: 460px;
    margin-bottom: 50px;
    &:hover {
      z-index: 10;
    }

    &:hover .short-order {
      transform: translate(0, 64px);
    }

    &:hover .product-card__img {
      transform: scale(1.1, 1.1);
    }
  }
}

.product-card__content {
  background: $white;
  display: flex;
  height: 100%;
  flex-direction: column;
  border-radius: 20px;
}

.product-card__preview {
  position: relative;
  overflow: hidden;
  height: auto;
  border-radius: 20px 20px 0 0;
  @media (min-width: 1090px) {
    height: 320px;
  }
}

.product-card__img {
  width: 100%;
  height: auto;
  transition: 0.2s ease-in-out;
  z-index: -1;
}

.product-card__info {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 15px 10px;
  @media (min-width: 1090px) {
    padding: 17px 20px 12px;
  }
}

.product-card__title {
  font-size: 14px;
  line-height: 110%;
  margin-bottom: 12px;
  @media (min-width: 1090px) {
    font-size: 18px;
    line-height: 95.2%;
    margin-bottom: 20px;
  }
}

.product-card__buy {
  display: flex;
  align-items: flex-end;
  margin-top: auto;
  justify-content: space-between;
  font-weight: 600;
}

.product-card__discount {
  margin-bottom: 8px;
}

.product-card__number {
  font-weight: 600;
  font-size: 16px;
  line-height: 95.2%;
  @media (min-width: 1090px) {
    font-size: 24px;
  }
}

.product-card__btn-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: auto;
  @media (min-width: 1090px) {
    display: none;
  }
}

.product-card__in-basket {
  display: none;
  padding: 15px 0;
  width: 160px;
  @media (min-width: 1090px) {
    display: block;
  }
}

.product-card__favorite {
  position: absolute;
  background: $white;
  border-radius: 50%;
  top: 11px;
  right: 5px;
  width: 40px;
  height: 40px;
  z-index: 1000;
  @media (min-width: 1090px) {
    top: 19px;
    right: 15px;
    width: 50px;
    height: 50px;
  }
}

.short-order {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(0, 0);
  display: block;
  width: 100%;
  padding: 20px 20px 12px;
  background: $white;
  border-radius: 0 0 20px 20px;
  transition: 0.2s ease-in-out;
  z-index: -1;
  @media (min-width: 1000px) {
    display: block;
  }
}

.short-order__btn {
  width: 100%;
}
