.sorting {
  position: relative;
  width: 200px;
  z-index: 1000;
  background: $pearl;

  @media (min-width: 600px) {
    width: 250px;
  }
  @media (min-width: 1090px) {
  }
}

.sorting__head {
  position: relative;
  border: 1px solid $d-grey;
  box-sizing: border-box;
  border-radius: 50px;
  padding: 15px 20px;
  cursor: pointer;
  z-index: 1000;
}

.sorting__title {
  font-size: 18px;
  line-height: 95.2%;
}

.sorting__arrow {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 21px;
  width: 16px;
  height: 16px;
  transform: translate(0, -50%);
}

.sorting__arrow-img {
  transition: 0.2s ease-in-out;
}

.sorting__arrow--is-down {
  transform: rotate(-180deg);
}

.sorting__body {
  overflow: hidden;
  height: 0;
  position: absolute;
  top: 50%;
  width: 100%;
  transition: 0.2s ease-in-out;
}

.sorting___item {
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0;
  }
}

.sorting___list {
  padding: 50px 15px 20px;
  border: 1px solid $l-grey;
  border-top: none;
  box-sizing: border-box;
  border-radius: 0 0 5px 5px;
  background: $pearl;
}

.sorting___link {
  position: relative;
}

.sorting__text {
  padding-left: 38px;
  font-size: 18px;
  line-height: 95.2%;
}
