.subsections {
  display: flex;
  flex-direction: column;
  @media (min-width: 540px) {
    flex-direction: row;
    justify-content: space-between;
  }
  @media (min-width: 1090px) {
    flex-direction: column;
  }
  @media (min-width: 1500px) {
    flex-direction: row;
  }
}

.subsection-card {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  padding: 20px;
  width: 100%;
  min-height: 140px;

  background: $white;
  border-radius: 20px;
  margin: 0 0 20px 0;
  &:last-child {
    margin: 0 0 0 0;
  }

  @media (min-width: 450px) {
    height: 200px;
  }

  @media (min-width: 540px) {
    height: 140px;
    padding: 5px;
    margin: 0 10px 0 0;
    &:last-child {
      margin: 0 0 0 0;
    }
  }

  @media (min-width: 640px) {
    padding: 20px;
  }

  @media (min-width: 768px) {
    height: 180px;
  }

  @media (min-width: 980px) {
    padding: 20px;
    height: 300px;
  }

  @media (min-width: 1090px) {
    margin: 0 0 20px 0;
    &:last-child {
      margin: 0 0 0 0;
    }
    &:hover .subsection-card__img {
      transform: scale(1.1, 1.1);
    }

    &:hover .subsection-card__arrow {
      transform: translate(0, 0);
    }
  }

  @media (min-width: 1500px) {
    max-width: 520px;
  }
}

.subsection-card__content {
  overflow: hidden;
  z-index: 1;
}

.subsection-card__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 95.2%;
  margin-bottom: 3px;
  @media (min-width: 1090px) {
    font-size: 36px;
  }
}

.subsection-card__arrow {
  display: inline-block;
  height: 10px;
  width: auto;
  transform: translate(-150%, 0);
  transition: 0.2s ease-in-out;
}
.subsection-card--right {
  justify-content: flex-end;
}

.subsection-card__img {
  position: absolute;
  width: auto;
  max-height: 300px;
  height: 110px;
  bottom: 0;
  right: 0;
  transition: 0.2s ease-in-out;
  @media (min-width: 450px) {
    height: 140px;
  }

  @media (min-width: 540px) {
    height: 100px;
  }

  @media (min-width: 640px) {
    height: 120px;
  }

  @media (min-width: 768px) {
    height: 150px;
  }
  @media (min-width: 980px) {
    height: 225px;
  }
}

.subsection-card__img--right {
  top: 0;
  left: 0;
}
